<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-table.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/content.js"></script>
    <script type="text/javascript" src="/js/request.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/dateFormat.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table-zh-CN.js"></script>
</head>
<body>
    <h2>历史消息：</h2>
    <!--<div id="content">-->

    <!--</div>-->
    <button id="return">返回</button>
    <div id="content" class="container" style="margin: 50px;">
        <table data-toggle="table" id="table" data-pagination="true">
            <thead>
            <tr>
                <th data-field="content">消息内容</th>
                <th data-field="addTime">发送时间</th>
            </tr>
            </thead>
        </table>
    </div>
</body>
</html>